extends layout

//- 메인 페이지
block content
  .card
    img.card-img(src="https://eharitonova.ru/wp-content/uploads/2017/08/cafe.jpg" alt="networking")
    .carousel-caption
      b.main 「 Welcome to Prompt 」
  //- .container.mt-3
  //-   .row
  //-     .col-md-6
  //-       h3(style="font-weight: bold") 서비스 목적
  //-       p.ml-3 본 서비스는 Database Programming 프로젝트를 위해서 사내 업무용 웹기반 시스템의 설계 및 개발하는 것입니다. 
  //-     .col-md-6
  //-       h3(style="font-weight: bold") 주요 기능
  //-       .row
  //-         .col-md-6
  //-           ul
  //-             li 회원가입
  //-             li 로그인/로그아웃
  //-             li 내 정보조회
  //-             li 고객 관리(경영진)
  //-         .col-md-6
  //-           ul
  //-             li 고객 등록
  //-             li 프로젝트 등록
  //-             li PM 등록
  //-             li 프로젝트 인원 투입



  .end 
    p (주)프람트 개발자 김세진 이화연 임혜진 편주영 
    p Copyright © 2018, by Data Technology, Co., Ltd. All Rights Reserved. 

  
