extends layout

//- 메인 페이지
block content
  .card
    img.card-img(src="https://eharitonova.ru/wp-content/uploads/2017/08/cafe.jpg" alt="networking")
    .carousel-caption
      b.main 「 Welcome to Prompt 」
  .end 
    p (주)명지 개발자 김세진 이화연 임혜진 편주영 
    p Copyright © 2018, by Data Technology, Co., Ltd. All Rights Reserved.