extends layout

block content
    p 마이프로젝트 페이지
    div(name="myproject")
        p 진행 프로젝트
        li project num : #{result.project_num}
        li role : #{result.role_in_project}
        li Skill Set : #{result.SKILL}
