extends layout

//- 개발자 회원가입 페이지
block content
  h1.main Sign up
  form(action="#", method='post')
    .form-group
      label(for="inputID") ID
      input#inputId.form-control(type="id" name="id" placeholder="id")
    .form-group
      label(for="inputPassword") Password
      input#inputPassword.form-control(type="password" name="password" placeholder="Password")
    .form-group
      label(for="inputName") Name
      input#inputName.form-control(type="name" name="name" placeholder="Name")
    .form-group
      label(for="inputResident_registration_number") Resident_registration_number
      input#inputAddress.form-control(type="text" name="resident_registration_number" placeholder="111111-1111111")
    .form-group
      label(for="inputEducation") Education
      input#inputEducation.form-control(type="text" name="education" placeholder="University graduation or Master's degree ..")
    .form-group
      label(for="inputJoincompanydate") Join Company Date
      input#inputJoincompanydate.form-control(type="text" name="joincompanydate" placeholder="YY/MM/DD")
    button.btn.btn-primary(type="submit") Sign in
