extends ../layout

//- 고객평가_프로젝트선택페이지
block content
  h1.text-center.mt-5.mb-5 Client Evaluation
  table.table.pull-center.table-hover.text-center(style="width: 90%; margin: auto")
    thead.thead-light
      tr
        th(scope="col") 프로젝트명
        th(scope="col") 착수일자
        th(scope="col") 종료일자
        th(scope="col") 발주처
    tbody
      each p in projects
        tr
          td
            a(href=`/developer/cEval/${p[0]}`)= p[1]
          td #{moment(p[2]).format('YYYY-MM-DD')}
          td #{moment(p[3]).format('YYYY-MM-DD')}
          td= p[4]