extends ../layout

//- 동료평가(+pm평가) 페이지(개발자)
block content
  .container
    h3.text-center.mt-3 평가 할 프로젝트 목록
    form(action="/developer/selectEvaluated",method="post")
      .row.align-items-center.mt-4
        .col.text-center
          h3 Projects
      table.table.text-center
        thead
          tr
            th(scope="col")                 
            th(scope="col") 프로젝트 이름
        tbody
          each p in projects
            tr
              td
                .form-check
                  input#defaultRadio1.form-radio-input(type="radio" name="project" value=`${p[0]}`)
              td=p[0]
      .row.justify-content-start.mt-4
        .col(style="margin-bottom: 1em")
          button.btn.btn-dark.mr-3(type="submit", style="float: right") 평가 할 개발자 선택
