extends ../layout

block content
    .container
        form(action="/developer/peer_evaluation",method="post")
            .row.align-items-center.mt-4
                .col
                    h3.mb-3.ml-3 선택된 프로젝트
                    input.form-control(type="text" name="project" value=`${selected}` readonly)
            .row.align-items-center.mt-4
                .col
                    h3.mb-3.ml-3 평가 할 개발자 선택
                        table.table
                            thead
                                tr
                                    th(scope="col") 
                                    th(scope="col") ID
                            tbody
                                each d in developers
                                    tr
                                        td
                                            .form-check
                                                input#defaultRadio1.form-radio-input(type="radio" name="evaluated" value=`${d[0]}`)
                                        td= d[0]
            .row.justify-content-start.mt-4
                .col(style="margin-bottom: 1em")
                    button.btn.btn-dark.mr-3(type="submit", style="float: right") 평가