extends ../layout

//- 고객 관리 페이지(경영진)
block content
  div.mr-3.ml-3
    .form-group
      h2.text-center.mt-3 고객 관리
      button.btn.btn-outline-primary(type="button" onclick="location.href='addClient'") 추가
      div.mt-3
        table.table.text-center
          thead
            tr
              th(scope="col") 고객명
              th(scope="col") 연락처
          tbody
            each value in clients
              tr
                td
                  a(href=`/management/client/${value[0]}`)= value[1]
                td= value[2]
