extends ../layout

//- 고객 관리 페이지(경영진)
block content
  div.mr-3.ml-3
    .form-group
      h1.text-center.mt-5 Client
      button.btn.btn-outline-dark.pull-right.mb-3.mt-4(type="button" onclick="location.href='addClient'") 추가
      div.mt-3
        table.table.text-center
          thead.thead-light
            tr
              th(scope="col") 고객명
              th(scope="col") 연락처
          tbody
            each value in clients
              tr
                td
                  a(href=`/management/client/${value[0]}`)= value[1]
                td= value[2]
