extends ../layout

//- 고객 상세 페이지
block content
  form(action="#", method="post")
    .row.mt-3
      .col.text-center
        h2.text-center.mt-3 상세 정보
    .row.align-items-center.mt-4
      .col
        table.table.text-center(width="700" border="1")
          thead
            tr
              th(scope="col") 프로젝트명
              th(scope="col") 프로젝트 시작일
              th(scope="col") 프로젝트 종료일
          tbody
            each value in result
              tr
                td=value[0]
                td=moment(value[1]).format('YYYY-MM-DD')
                td=moment(value[2]).format('YYYY-MM-DD')