extends ../layout

//- 평가조회
block content
  h1.text-center.mt-5 Evaluation
  .row.mt-5.mr-0
    .col-sm-4
      h2.ml-5.mt-5 동료평가
      table.table.text-center.ml-5(style="width: 90%;")
        thead.thead-light
          tr
            th(scope="col") 프로젝트명
        tbody
          each p1 in projects
            tr
              td
                a(href=`/management/peerEvaluationDetail/${p1[0]}`)= p1[1]
    .col-sm-4
      h2.ml-5.mt-5 PM평가
      table.table.text-center.ml-5(style="width: 90%;")
        thead.thead-light
          tr
            th(scope="col") 프로젝트명
        tbody
          each p2 in pms
            tr
              td
                a(href=`/management/pmEvaluationDetail/${p2[0]}`)= p2[1]
    .col-sm-4
      h2.ml-5.mt-5 고객평가
      table.table.text-center.ml-5(style="width: 90%;")
        thead.thead-light
          tr
            th(scope="col") 프로젝트명
        tbody
          each p3 in customers
            tr
              td
                a(href=`/management/customerEvaluationDetail/${p3[0]}`)= p3[1]