block beforeLogin
  ul.navbar-nav.justify-content-end.d-none.d-lg-flex.ml-md-auto
    li.nav-item.active
      a.nav-link(href="/authentication") Sign up
  a.btn.btn-white.btn-empty.ml-md-3(href="/signin") Sign in
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
