nav.navbar.navbar-expand-lg.navbar-dark.bg-light.bg-dark
  a.navbar-brand(href="/") Prompt
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      if state == 'beforeLogin'
        block beforeLogin
          include ./beforeLogin
      else if state == 'management'
        block management
          include ./nav_management
      else if state == 'developer'
        block developer
          include ./nav_developer