nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.font-weight-bold(href="/") Prompt
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    if state == 'management'
      block management
        include ./nav_management
    else if state == 'developer'
      block developer
        include ./nav_developer
    else
      block beforeLogin
        include ./beforeLogin