block management
  ul.navbar-nav.mr-auto
    li.nav-item
      a.nav-link(href="/management/aboutDeveloper") Employee
    li.nav-item
      a.nav-link(href="/management/aboutClient") Client
    li.nav-item
      a.nav-link(href="/management/aboutProject") Project
    li.nav-item
      a.nav-link(href="/management/showPrjNoPM") PM 등록
    li.nav-item
      a.nav-link(href="/management/prjInput") 프로젝트 인원투입
    li.nav-item
      a.nav-link(href="/management/inAndOut") 개발자 투입#{'&'}방출
    li.nav-item
      a.nav-link(href="/management/evaluation") Evaluation
  ul.navbar-nav.justify-content-end.d-none.d-lg-flex.ml-md-auto
    li.nav-item.active
      a.nav-link(href="/mypage") My page
  a.btn.btn-white.btn-empty.ml-md-3(href="/signout") Sign out
